:root {
    --primary-color: cornflowerblue;
    --margin-inline: 1em;
    --background-color: #0b0d14;
        --background-pre: #13151f;
        --background-card: #13151f;
        --background-input: #13151f;
        --border-color: #20242d;
    --border-color-hover: #393939;
    --text-obscured: #999;

    @media (width > 768px) {
        --margin-inline: 5em;
    }

    @media (width > 1024px) {
        --margin-inline: 18em;
    }

}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--border-color)
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color-scheme: dark;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    padding: 2em var(--margin-inline);
    position: relative;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 60px;
        background-color: var(--background-color);
}

textarea {
    resize: none;
    background-color: var(--background-input);
    border: solid 1px var(--border-color);
    border-radius: .75em;
    field-sizing: content;
    width: 100%;
    padding: 1em;

    &:focus {
        outline: none;
        border-color: var(--border-color-hover);
    }
}

section {
    padding: 1em;
    width: 100%;
    height: 100%;
    display: grid;
    overflow-x: hidden;
        overflow-y: auto;
    gap: 1em;
}

li {
    list-style-position: inside;
}
mark {
    background-color: inherit;
    color: inherit;
    text-align: center;
    position: relative;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 1em;
}

mark::before {
    content: '';
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

mark::after {
    content: attr(data-info);
    font-size: .75em;
    color: var(--text-obscured);
}

pre {
    display: grid;
    background-color: var(--background-pre);
        border-radius: .75em;
    padding: 1em;
    border: solid 1px var(--border-color);
}

code {
    font-family: monospace;
    font-size: .9em;
    display: grid;
        overflow-x: auto;
}

p,
div {
    line-height: 1.9;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.msg {
    border-radius: .75em;
    width: fit-content;
    height: fit-content;
    display: grid;
    gap: 1em;
}


.user {
    background-color: var(--background-card);
    justify-self: end;
    max-width: 90%;
        padding: 1em;
}

.bot {
    justify-self: start;
}